<div class="container d-flex align-items-center">
  <form class="users-form" (ngSubmit)="addUser(user.username, user.type)">
    <h3>Add owner</h3>
    <!-- Add owner notification message -->
    <div class="form-success">{{userAdded? 'User added!' : '&nbsp;'}}</div>
    <!-- error message -->
    <div class="form-error">{{msg}}</div>
    <!-- Add owner form -->
    <div class="form-group">
      Username:
      <input type="text" class="form-control" id="usernameInput" placeholder="Username" name="username" [(ngModel)]="user.username" (keydown)="clear()">
      <br/>
      Type:
      <select class="form-control" id="userTypeInput" name="type" [(ngModel)]="user.type" value="github">
        <option>github</option>
        <option>gitlab</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
