<div class="container d-flex align-items-center">
  <form class="users-form" (ngSubmit)="addUser(user.username)">
    <h3>Add owner</h3>
    <!-- Add owner notification message -->
    <div class="form-success">{{userAdded? 'User added!' : '&nbsp;'}}</div>
    <!-- Add owner form -->
    <div class="form-group">
      <input type="text" class="form-control" id="usernameInput" placeholder="Username" name="username" [(ngModel)]="user.username" (keydown)="clear()">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
